<!-- Footer Top -->
<div class="footer-top section-footer-top">
    <div class="container">
        <div class="col-lg-12 col-md-6 col-12">
            <!-- Single Widget -->
            <div class="single-footer about">
                <div class="logo">
                    <img src="images/logo2.png" alt="#">
                </div>
                <p class="text">
                    We offer a wide range of clothing products to our customers for over a decade. Our goal is to make your shopping experience as enjoyable as possible. If you have any questions or concerns, please don’t hesitate to reach out to us.
                </p>
                <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+060 (300) 401-582</a></span></p>
            </div>
            <!-- End Single Widget -->
        </div>
    </div>
</div>
<!-- End Footer Top -->
<div class="copyright">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="left">
                        <p>Copyright © @DateTime.Now.Year <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="right">
                        <img src="images/payments.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>